.container {
    display: flex;
    flex-direction: column;
}

.margin-bottom-s {
    margin-bottom: 0.5rem;
}

.margin-bottom-l {
    margin-bottom: 1.5rem;
}

.margin-top-s {
    margin-top: 0.5rem;
}