@import './variables.scss';

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin border($size: 0.0625rem, $color: $grey-white) {
    border: $size solid $color;
}

@mixin box-sizing {
    box-sizing: border-box;
}