$white:#ffffff;
$black:#000000;
$shadow:#0000002b;
$yellow:#98f502;
$perpl:#6200ea;
$perpl-secondary:#3700b3;
$text-grey:#5C6370;
$grey:#e0e0e0;
$grey-white:#fefefe;
$orange:#f56a00;
$orange-black:#db6104;


$z-index: 1000;

@font-face {
    font-family: 'Dodo';
    src:url('/fonts/DodoRounded_v2-Light.woff2') format('woff2'),
        url('/fonts/DodoRounded_v2-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Dodo';
    src:url('/fonts/DodoRounded_v2-Medium.woff2') format('woff2'),
        url('/fonts/DodoRounded_v2-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Dodo';
    src:url('/fonts/DodoRounded_v2-Regular.woff2') format('woff2'),
        url('/fonts/DodoRounded_v2-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Dodo';
    src:url('/fonts/DodoRounded_v2-Bold.woff2') format('woff2'),
        url('/fonts/DodoRounded_v2-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


//margin-top
.margin-top-s {
    margin-top: 0.5rem;
}
.margin-top-m {
    margin-top: 1rem;
}
.margin-top-l {
    margin-top: 1.5rem;
}
.margin-top-xl {
    margin-top: 2rem;
}
//margin-bottom
.margin-bottom-s {
    margin-bottom: 0.5rem;
}
.margin-bottom-m {
    margin-bottom: 1rem;
}
.margin-bottom-l {
    margin-bottom: 1.5rem;
}
.margin-bottom-xl {
    margin-bottom: 2rem;
}