$white:#ffffff;
$black:#000000;
$shadow:#0000002b;
$yellow:#98f502;
$perpl:#6200ea;
$perpl-secondary:#3700b3;
$text-grey:#5C6370;
$grey:#e0e0e0;
$grey-white:#fefefe;
$orange:#f56a00;
$orange-black:#db6104;


$z-index: 1000;
