$yellow-color: #98f502;
$perpl-color: #6200ea;
$perpl-secondary-color: #3700b3;
$grey-color: #726c7a;
$lgrey-color: #ececec;
$orange-color: rgb(255, 140, 0);
$white-color: rgb(255, 255, 255);
$black-color: rgb(0, 0, 0);